* {
    margin: 0;
    padding: 0
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.content {
    text-align: center;
    background-color: #000;
    color: #fff;
    padding: 20px;
    font-family: Arial, sans-serif
}

.formulario {
    background-color: #000;
    padding: 12px 20px 12px 40px;
}
.texto{
    width: 100%;
}
.container{
    width: 100%;
}
.CargarDatos{
    background-color: aqua;
    border-radius: 15px;
    height: 50px;
    border: none;
    font-size: 20px;
}
.btn{
    background-color: aqua;
    border-radius: 15px;
    height: 50px;
    border: none;
    font-size: 20px;
}
.contenedor{
    display: flex;
    padding: 50px;
    width: auto;
    margin-right: 50px;
}
.seleccion{
    margin-top: 50px;
    font-size: 30px;
}
.infor{
    font-size: 20px;
}
.seleccion p{
    font-size: 50px;
}
.btnB{
    background-color: aqua;
    border: none;
    height: 40px;
    width: 80px;
}
.select{
    width: auto;
    height: 40px;
    font-size: 15px;
    border: none;
    background-color: rgb(170, 170, 170);
}
.consulta button{
    width: 120px;
    height: 40px;
    border: none;
    background-color: rgb(170, 170, 170);
}
.consulta button:hover{
    cursor: pointer;
    background-color: aqua;
}
.seccion_est h2{
    font-size: 20px;
}
.data{
    margin-top: 10px;
    font-size: 15px;
    
}
